stages:
  - deploy

deploy:
  stage: deploy
  tags: 
    - "prod"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  before_script:
    - echo "Runner: $CI_RUNNER_DESCRIPTION"
    - docker version
    - docker compose version
    - test -n "$POSTGRES_USER" && echo "POSTGRES_USER set"
    - test -n "$POSTGRES_DB" && echo "POSTGRES_DB set"
  script:
    - echo "Deploying with compose.yaml"
    - docker compose -f compose.yaml up -d --build