version: '3.9'

services:

    # This service runs a postgres database container
    db:
        # Offical postgres image from docker hub (version 16)
        image: postgres:16

        # Enviroment variables the DB needs
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}
        
        # Use a named volume so DB survives container restarts
        volumes:
            - pgdata:/var/lib/postgresql/data
    
    # This service runs OUR python fastapi app
    api:
        # Build our app image from our Dockerfile in this folder
        build: ./backend

        # Wait for the db container to exist before starting api
        depends_on:
            - db

        # Pass DB conection settings into the api container
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_DB=${POSTGRES_DB}

        # Expose port 8000 from container to machine port 8000
        ports:
            - "8000:8000"

        # Run uvicorn server when this container starts
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000

# Named volume for database persistance (data stored outside container) 
volumes:
    pgdata: